body {
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  max-width: 600px;
  margin: 0 auto 200px;
  padding: 10px;
}

.macos-keyboard-warning {
  background-color: yellow;
  padding: 8px;
  text-align: center;
}

*:focus {
  outline: 5px solid lightblue;
}

.trap {
  border: 1px solid #ccc;
  padding: 1em 2em;
}

.is-active {
  background: #fee9ff;
}

.is-active-nested {
  background: pink;
}

.animated-dialog {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.animated-dialog.is-active {
  opacity: 1;
  visibility: visible;
}

.animated-trigger {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.animated-trigger.is-triggered {
  opacity: 0;
  visibility: hidden;
}

.inline-label {
  margin-right: 0.5em;
}

#demo-four,
#initial-nine {
  outline: 0;
}

code,
kbd {
  background: #eee;
  font-size: 90%;
  padding: 0 2px;
}

.is-hidden {
  display: none;
}

.demo-iframe {
  height: 250px;
  width: 100%;
}

.demo-in-iframe-wrapper {
  display:flex;
}
.demo-in-iframe-wrapper > aside {
  padding: 1em 2em;
  border: 1px solid #ccc;
}
